@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #faf8ef;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: clamp(15em, 25em, 48em);
    height: clamp(15em, 25em, 48em);

    background-color: #BBADA0;

    border-radius: 5px;
}

.grid>* {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: large;
    margin: 10px;

    border-radius: 5px;

    background-color: #CDC1B4;
    padding: clamp(0.5em, 1em, 2em);
}


.n2 {
    background-color: #faf8ef !important;
}

.n4 {
    background-color: #EDE0C8 !important;
}

.n8 {
    color: white;
    background-color: #F2B179 !important;
}

.n16 {
    color: white;
    background-color: #F59563 !important;
}

.n32 {
    color: white;
    background-color: #F67C5F !important;
}

.n64 {
    color: white;
    background-color: #F65E3B !important;
}

.n128 {
    color: white;
    background-color: #EDCF72 !important;
}

.n256 {
    color: white;
    background-color: #EDCC61 !important;
}

.n512 {
    color: white;
    background-color: #F67C5F !important;
}

.n1024 {
    color: white;
    background-color: #F67C5F !important;
}

.n2048 {
    color: white;
    background-color: #F67C5F !important;
}